<!DOCTYPE html>
<html lang="en">
<!--HEAD-->    
<%- include('partials/head')  %> 
<!--HEAD-->

<!--HEADER-->
<!--<%- include('partials/header')%>-->
<!--HEADER-->
<body>

    <div class="cccontainder">
    <img src="/images/404.jpg" alt="..." height="600px" width="800px">
</div>
<br>
    <a class="btn btn-primary" href="/">Volver a la página principal</a>
</body>
<%- include('partials/footer')  %> 
</html>