<header class="header">
    <div class="header-container">
       
        <div class="logo-container">
            <a href="/"><img class="logo" src="/images/logo.png" alt="Logo"></a>
        </div>
        <div class="links">
            <a href="/products/add">añadir Producto</a>

        </div>
        <div class="search-container"> 

        </div>


        <div class="search-container"> 
            <form action="">
                <input Class="search-input" id="searchWords"  type="text" placeholder="Buscar....">
                <a id="aURL" href="/">
                <img class="search-img" type="button" onclick="changeHREF()" src="/images/search.png" alt="Search">
                </a>
                   
        </form>

        </div>

        </div>

    </div>
</header>