<header class="header">
    <div class="header-container">
       
        <div class="logo-container">
            <a href="/"><img class="logo" src="/images/logo.png" alt="Logo"></a>
        </div>
        <div class="links">
            <a type="button" class="btn btn-primary" href="/products/add">Agregar Producto</a>
        </div>
        <div class="search-container"> 

        </div>

        <div class="search-container"> 
            <form action="/search" method="get" class="search-form">
                <input type="text" name="search" Class="search-form_input" id="searchWords" placeholder="Buscar....">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search">Buscar</i></button>
        </form>
        </div>

        </div>

    </div>
</header>